@use "../utils/variables" as var;
@use "../utils/function" as f;

.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 3rem;
    margin: f.pxToRem(24) 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: 24px 48px;
    color: var.$black;
    background-color: var.$white;
    border-radius: 16px;
    gap: 40px;

    &__input {
      padding: 0 0 8px;
      border-bottom: solid var.$gray 1px;
    }

    &__input--name {
      display: flex;
      gap: 40px;
    }
  }
}
