@use "../utils/function" as f;
@use "../utils/variables" as var;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 f.pxToRem(40);
  background-color: hsla(220, 14%, 96%, 0.2);
  transition: 0.3s;

  &:hover {
    background-color: hsla(0, 0%, 0%, 1);
  }

  .nav {
    &__items {
      list-style: none;
      display: flex;
      gap: f.pxToRem(40);

      &--item {
        padding: f.pxToRem(8) f.pxToRem(12);
        border-radius: 8px;
        transition: 0.3s;

        &:hover {
          color: var.$black;
          background-color: var.$white;
        }
      }
    }
  }
}
